<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head lang="en">
    <title>About Us | Sohar Steel Group</title>
    <base >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We do not just make websites. We create digital experiences to make the web come alive."/>
    <meta name="keywords" content="Webdesign Munich, Online Advertising, Digital Experience, Digital Advertising Agency, Full Service Agency Munich"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="index.html"/>
    <meta name="twitter:description" content="We do not just make websites. We create digital experiences to make the web come alive."/>
    
    <meta name="twitter:image" content="img/adwyse.png"/>
    <meta name="og:image" content="img/adwyse.png"/>
    
    <meta name="og:title" content="Sohar Steel Group"/>
    <meta name="og:type" content="website"/>
    <meta name="og:description" content="We do not just make websites. We create digital experiences to make the web come alive."/>
    <meta name="og:url" content="index.html"/>
    <meta name="og:site_name" content="Sohar Steel Group"/>
    
    <link href="favicon.html" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/screen.css"/>
    <link href="css/jquery-accordion-menu.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" />

<script src="js/jquery-1.11.2.min.js" type="text/javascript"></script>
<script src="js/jquery-accordion-menu.js" type="text/javascript"></script>
<script type="text/javascript">
jQuery(document).ready(function () {
	jQuery("#jquery-accordion-menu").jqueryAccordionMenu();
	
});

$(function(){	
	//顶部导航切换
	$("#demo-list li").click(function(){
		$("#demo-list li.active").removeClass("active")
		$(this).addClass("active");
	})	
})	
</script>
</head>
<body class="">
<div class="preloader-wrap" style="display: none;">
  
    <div class="preloader-wrap_i vis" style="height: 127px;">
        <div class="preloader animated active-first">
            <div class="preloader__wrap">
                <div class="preloader__logo"></div>
                <div class="preloader__l"></div>
                <div class="preloader__r"></div>
                <div class="preloader__t"></div>
                <div class="preloader__b"></div>
            </div>
            <div class="preloader__progress">
                <span><i style="width: 99%;"></i></span>
            </div>
        </div>
    </div>
    <div class="preloader__descr">
        <p>You can use the <strong>golden icons</strong><br> to relocate and resize the content.</p>
        <img src="img/description.gif" data-src="" alt="Guide for site">
    </div>
</div>
<div class="menu">
    <div class="menu_i">
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
			<ul id="demo-list">
		 
		   <li class="active"><a href="index.html"><i class="fa fa-home"></i>HOME</a></li>
			<li><a href="#"><i class="fa fa-user"></i>ABOUT US</a>
				<ul class="submenu">
					<li><a href="about.html">Company Profile</a></li>
					<li><a href="hse.html">HSE Policy & The Environment</a></li>
				</ul>
			</li>
            <li><a href="#"><i class="fa fa-cog"></i>GROUP OF COMPANIES</a>
				<ul class="submenu">
					<li><a href="sharq-sohar.html">Sharq Sohar Steel Rolling Mills</a></li>
					<li><a href="meci.html">Middle East Conversion Industries LLC (MECI)</a></li>
					<li><a href="soharsteel.html">Sohar Steel LLC</a></li>
				</ul>
			</li>
             <li><a href="#"><i class="fa fa-suitcase"></i>PRODUCTS</a>
				<ul class="submenu">
					<li><a href="reinforcing-bars.html">Reinforcing Bars</a></li>
					<li><a href="steel-mesh.html">Steel Mesh</a></li>
					<li><a href="steel-billets.html">Steel Billets</a></li>
					<li><a href="epoxy.html">Epoxy Coating</a></li>
				</ul>
			</li>
            <li><a href="quality.html"><i class="fa fa-shield"></i>QUALITY STANDARDS</a></li>
            <li><a href="certificates.html"><i class="fa fa-file-image-o"></i>QUALITY CERTIFICATES</a></li>
			<li><a href="contact.html"><i class="fa fa-envelope"></i>CONTACT US</a></li>
		   
		</ul>
		
	</div>
        
    </div>
    </div>
    </div>
<div class="btn-menu active">
    <div class="btn-menu_i">
        <div class="btn-menu_ii" style="line-height:0px;">      
        
            <div class="btn-menu__line-4">MENU</div>
            <div class="btn-menu__line-1"></div>
            <div class="btn-menu__line-2"></div>
            <div class="btn-menu__line-3"></div>
        </div>
    </div>
</div>

<div class="logo active">
    <a href="/">
        <span class="logo__img"></span>
    </a>
</div>


<div class="out" style="height: 415px;">
    <div class="overlay animated" style="display: none;">
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bott"></div>
    </div>
    <div class="white-overlay"></div>
    <div class="grey-overlay"></div>
    <video autoplay loop class="home-video">
        <source src="video/video.mp4" type="video/mp4">
        <source src="video/demo.webm" type="video/webm">
    </video>

    <div class="help-menu">
     
        <div id="jquery-accordion-menu" class="jquery-accordion-menu">
			<ul id="demo-list">
		 
		  <li><a href="#"><i class="fa fa-user"></i>ABOUT US</a></li>
					<li><a href="about.html">Company Profile</a></li>
					<li><a href="hse.html">HSE Policy & The Environment</a></li>
			
		</ul>
		
	</div>
    </div>
    <div class="content">

<section class="blog-list top-category blog-post wide animated animated-grey" data-href="#" style="left: 0px;">
    <div class="page-position-controls right" style="display: block;">
        <ul>
            <li class="action-right"><a href="#"><i class="icon-right"></i><i class="icon-right-hover hover"></i></a>
            </li>
            <li class="action-left"><a href="#"><i class="icon-left"></i><i class="icon-left-hover hover"></i></a></li>
            <li class="action-resize"><a href="#"><i class="icon-resize"></i><i class="icon-resize-hover hover"></i></a>
            </li>
        </ul>
    </div>
    <div class="section-wrap mCustomScrollbar _mCS_2" style="height: 415px;"><div id="mCSB_2" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_2_container" class="mCSB_container" style="position: relative; top: 0px; left: 0px;" dir="ltr">
        <div class="wrap-border-left stable" style="height: 355px;"></div>
        <div class="wrap-border-right stable" style="height: 355px;"></div>
        <div class="wrap-border-top stable" style="width: 1306px;"></div>
        <div class="wrap-border-bott stable" style="width: 1306px;"></div>
        <div class="section-wrap_i ">
        <div class="img" style="background-image: url(img/bg/aboutus.jpg); top: 0px;"></div>
      
        <div class="blog-post__text">
                <div class="title clearfix">
                    <h1 class="detect-inview visible">COMPANY PROFILE</h1>
                                 </div>
                <div class="post detect-inview visible">
                          <p class="detect-inview visible">Sohar Steel group is one of the major producers of new generation high strength steel reinforcement bars in the Sultanate of Oman. Sohar Steel group is a highly regarded business house that has been at the forefront of Sultanate's building materials industry.</p>

<p>From the humble beginnings as a building materials trader four decades ago, the group has since branched out into steel manufacturing. In addition to Sohar Steel and its sister venture Sharq Sohar Steel Rolling Mills LLC, the group also includes Middle East Conversion Industries, a plant specializing in Epoxy Coating and Weld Mesh.</p>

<p>METO's flagship business is Sharq Sohar Steel Rolling Mills LLC, which came in to operation in October 1996, with an initial installed capacity of 80,000 tpy. Within a year of commercial launch, a decision was taken to ramp up output capacity to 180,000 tpy. In a bid to boost product quality, and meet demand growth in Oman and the wider region. Not long thereafter a new furnace with a continuous output of 50 tonnes per hour was installed. These enhancements, coupled with a general upgrade of the mill, have helped boost capacity to the present, 300,000 tpy. A coveted CARES rating and ISO 9001 certification also attest to the plants operational standards. <!--The video below gives a quick coverage of all sections of Sharq Sohar Steel Rolling Mill:</p>
 <a href="#" class="btn-imprint"><img src="img/video-icon.jpg" width="290" height="105"></a>-->

<p>Diversifying its manufacturing portfolio, METO established Middle East conversion Industries in 2002. The company's Epoxy coating plant which provides fusion bonding Epoxy Coating Services for deformed steel bars, came on-stream in 2003. It is the only fusion bonded Epoxy coating facility of its kind in the Sultanate. A weld mesh plant was added in 2007, producing weld wire meshes of different sizes in line with international standards and customer specifications. Both units have obtained ISO 9001 certification.</p>

<p>The outlook for Sohar Steel and its sister venture remains promising, especially with the Omani government vigorously pressing ahead with its policy of economic development and infrastructure modernization.
</p>
                </div>
           
            </div>
            <div class="blog-list_i clearfix">
                <div class="row clearfix">
    <a href="#" class="item visible">
        <div class="title">MISSION</div>
        <div class="img" style="height:auto">
            <img src="img/mision_banner.jpg" alt="" class="mCS_img_loaded">
           
            <span class="bt inv" style="width: 355px;"></span>
            <span class="bb inv" style="width: 355px;"></span>
            <span class="br inv" style="height: 112px;"></span>
            <span class="bl inv" style="height: 112px;"></span>
        </div>

        <div class="text">
          To produce good quality steel products as per the stipulated international standards by following Safe and Environment friendly production practices with complete involvement and commitment of all the employees.
        </div>
    </a>

    


    <a href="#" class="item visible">
        <div class="title">VISION</div>
        <div class="img" style="height:auto">
             <img src="img/vision_banner.jpg" alt="" class="mCS_img_loaded">
             <span class="bt inv" style="width: 355px;"></span>
            <span class="bb inv" style="width: 355px;"></span>
            <span class="br inv" style="height: 112px;"></span>
            <span class="bl inv" style="height: 112px;"></span>
        </div>

        <div class="text">The company envisages a vision to be a reputed producer of quality steel products and to make its presence felt in Middle East with Quality products and services with a growing base of satisfied customers.
        </div>
    </a>

    
</div>
    

<div class="row clearfix">
    <a href="#" class="item visible">
        <div class="title">CORE VALUES</div>
        <div class="img" style="height:auto">
             <img src="img/values.jpg" alt="" class="mCS_img_loaded">
            <span class="bt inv" style="width: 355px;"></span>
            <span class="bb inv" style="width: 355px;"></span>
            <span class="br inv" style="height: 112px;"></span>
            <span class="bl inv" style="height: 112px;"></span>
        </div>

        <div class="text">
      The company’s core value focus on innovation and quality while establishing honesty and integrity in its dealing with partners and employees. It will also be ongoing concern for the company to develop all aspects of its employees development and recognition.
        </div>
    </a>

    


    <a href="#" class="item visible">
        <div class="title">INTEGRATED MANAGEMENT SYSYTEM</div>
        <div class="img" style="height:auto">
             <img src="img/ims.jpg" alt="" class="mCS_img_loaded">
            <span class="bt inv" style="width: 355px;"></span>
            <span class="bb inv" style="width: 355px;"></span>
            <span class="br inv" style="height: 112px;"></span>
            <span class="bl inv" style="height: 112px;"></span>
        </div>

        <div class="text">
         We are committed to produce quality steel products (BILLETS, TMT REBARS) to our capacity at optimum cost, to meet customer expectations and satisfaction, adhering to strict compliance of statutory, regulatory, environment, health and safety (HSE) requirements and continual improvement.
        </div>
    </a>

    
</div>
    


            </div>
            <a class="btn-top" href="#"><i class="icon-right"></i><i class="icon-right-hover hover"></i></a>
        </div>
    </div></div></div>
</section></div>
</div>


<div class="imprint-close">
    <div class="imprint-close_i">
        <div class="imprint-close_ii">
            <div class="imprint-close__line-1"></div>
            <div class="imprint-close__line-2"></div>
            <div class="imprint-close__line-3"></div>
        </div>
    </div>
</div>

<div class="imprint">
    <div class="imprint-wrap">
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bott"></div>
        <div class="imprint_i  mCustomScrollbar _mCS_1"><div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" tabindex="0"><div id="mCSB_1_container" class="mCSB_container" style="position:relative; top:0; left:0;" dir="ltr">
            <div class="imprint_ii clearfix">
                
                  <iframe width="100%" height="400" src="https://www.youtube.com/embed/EviRhPITDRk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                
            </div>
        </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; display: block; height: 119px; max-height: 345px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
    </div>
</div>
<!--imprint end-->

<script src="js/verge.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/jquery.mCustomScrollbar.js"></script>
<script src="js/modernizr.custom.92668.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script>
    var addthis_config =
    {
        ui_click: true,
        data_track_clickback: false
    }
</script>
<script src="js/start.js"></script>

<script type="text/javascript">
(function($) {
$.expr[":"].Contains = function(a, i, m) {
	return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
};
function filterList(header, list) {

	var form = $("<form>").attr({
		"class":"filterform",
		action:"#"
	}), input = $("<input>").attr({
		"class":"filterinput",
		type:"text"
	});
	$(form).append(input).appendTo(header);
	$(input).change(function() {
		var filter = $(this).val();
		if (filter) {
			$matches = $(list).find("a:Contains(" + filter + ")").parent();
			$("li", list).not($matches).slideUp();
			$matches.slideDown();
		} else {
			$(list).find("li").slideDown();
		}
		return false;
	}).keyup(function() {
		$(this).change();
	});
}
$(function() {
	filterList($("#form"), $("#demo-list"));
});
})(jQuery);	
</script>
</body>
</html>

</html>