<!DOCTYPE html>
<html>
<head lang="en">
    <title>Adwyse & Co. - Online Advertising Agency</title>
    <base href="https://adwyse.de/en/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="We do not just make websites. We create digital experiences to make the web come alive."/>
    <meta name="keywords" content="Webdesign Munich, Online Advertising, Digital Experience, Digital Advertising Agency, Full Service Agency Munich"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="https://adwyse.de/en/"/>
    <meta name="twitter:description" content="We do not just make websites. We create digital experiences to make the web come alive."/>
    
    <meta name="twitter:image" content="https://adwyse.de/en/img/adwyse.png"/>
    <meta name="og:image" content="https://adwyse.de/en/img/adwyse.png"/>
    
    <meta name="og:title" content="Adwyse & Co. - Online Advertising Agency"/>
    <meta name="og:type" content="website"/>
    <meta name="og:description" content="We do not just make websites. We create digital experiences to make the web come alive."/>
    <meta name="og:url" content="https://adwyse.de/en/"/>
    <meta name="og:site_name" content="Adwyse & Co."/>
    
    <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/screen.css"/>
    <!--<link type="text/css" media="screen" rel="stylesheet" href="css/awwwards.css" />-->
</head>
<body>
<div class="preloader-wrap">
    <div id="awwwards" class="sotd black right">
        <a href="http://ow.ly/PKv38" target="_blank">Awwwards</a>
    </div>
    <div class="preloader-wrap_i">
        <div class="preloader animated">
            <div class="preloader__wrap">
                <div class="preloader__logo"></div>
                <div class="preloader__l"></div>
                <div class="preloader__r"></div>
                <div class="preloader__t"></div>
                <div class="preloader__b"></div>
            </div>
            <div class="preloader__progress">
                <span><i></i></span>
            </div>
        </div>
    </div>
    <div class="preloader__descr">
        <p>You can use the <strong>golden icons</strong><br /> to relocate and resize the content.</p>
        <img src="img/description.gif" data-src="" alt="Guide for site"/>
    </div>
</div>
<div class="menu">
    <div class="menu_i">
        <nav class="nav-main">
            <ul>
                <li>
                    <a href="" class="active center-fixed" data-position="center-fixed">
                        <span class="center">Home</span>
                        <span class="left">
                            <span class="left-i"></span>
                        </span>
                        <span class="right">
                            <span class="right-i"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#!/about.html">
                        <span class="center">About</span>
                        <span class="left">
                            <span class="left-i"></span>
                        </span>
                        <span class="right">
                            <span class="right-i"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#!/projects/" class="casestudy-link">
                        <span class="center">Projects</span>
                        <span class="left">
                            <span class="left-i"></span>
                        </span>
                        <span class="right">
                            <span class="right-i"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#!/contact.html">
                        <span class="center">Contact</span>
                        <span class="left">
                            <span class="left-i"></span>
                        </span>
                        <span class="right">
                            <span class="right-i"></span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#!/blog/" class="bloglist-link">
                        <span class="center">Blog</span>
                        <span class="left">
                            <span class="left-i"></span>
                        </span>
                        <span class="right">
                            <span class="right-i"></span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="nav-main__social clearfix">
                <a class="icon-fb" target="blank" href="http://on.fb.me/1HNEUdI"></a>
                <a class="icon-tw" target="blank" href="http://bit.ly/1Iiu64n"></a>
            </div>
            <a href="#" class="btn-imprint">Imprint</a>
            <div class="subscribe">
                <a href="#" class="title">Newsletter</a>
                <div class="subscribe__form clearfix">
                    <form action="newsletter.php" method="post">
                        <input type="text" class="subscribe__form__email" placeholder="ENTER EMAIL ADRESS"/>
                        <a href="#" class="subscribe__submit"></a>
                        <input type="submit" value=""/>
                    </form>
                </div>
                <div class="subscribe__message" title=""></div>
            </div>
        </nav>
        <div class="menu__top-part"></div>
        <div class="menu__bott-part"></div>
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bott"></div>
    </div>
</div>
<div class="btn-menu">
    <div class="btn-menu_i">
        <div class="btn-menu_ii">
            <div class="btn-menu__line-1"></div>
            <div class="btn-menu__line-2"></div>
            <div class="btn-menu__line-3"></div>
        </div>
    </div>
</div>

<div class="logo">
    <a href="/">
        <span class="logo__img"></span>
    </a>
</div>
<div class="lang-main">
    <a href="https://adwyse.de/en/"><span>eng</span></a>
    <a href="https://adwyse.de/"><span>de</span></a>
</div>

<div class="out">
    <div class="overlay">
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bott"></div>
    </div>
    <div class="white-overlay"></div>
    <div class="grey-overlay"></div>
    <video autoplay loop class="home-video">
        <!--<source src="http://res.cloudinary.com/adwyse/video/upload/v1435826203/adwyse-bg-mp4.mp4" type="video/mp4">
        <source src="http://res.cloudinary.com/adwyse/video/upload/v1435826205/adwyse-bg-webm.webm" type="video/webm">
        -->
        <source src="video/demo.mp4" type="video/mp4">
        <source src="video/demo.webm" type="video/webm">
    </video>

    <div class="help-menu">
        <div class="help-menu_i">
            <p>Use this zone to open:</p>
            <ul>
                <li class="inactive home-link"><a href="/">Home</a></li>
                <li><a href="#!/about.html">About</a></li>
                <li><a href="#!/projects/">Projects</a></li>
                <li><a href="#!/contact.html">Contact</a></li>
                <li><a href="#!/blog/">Blog</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
<section class="home top-category wide" data-href="/">
    <div class="wrap-border-left"></div>
    <div class="wrap-border-right"></div>
    <div class="wrap-border-top"></div>
    <div class="wrap-border-bott"></div>
    <div class="page-position-controls">
        <ul>
            <li class="action-close">
                <a href="#"><i class="icon-close-sm"></i><i class="icon-close-sm-hover hover"></i></a></li>
            <li class="action-right">
                <a href="#"><i class="icon-right"></i><i class="icon-right-hover hover"></i></a></li>
            <li class="action-left">
                <a href="#"><i class="icon-left"></i><i class="icon-left-hover hover"></i></a></li>
            <li class="action-resize">
                <a href="#"><i class="icon-resize"></i><i class="icon-resize-hover hover"></i></a></li>
        </ul>
    </div>
    <div class="section-wrap">
        <div class="home-carousel">
            <div class="home-carousel__list">
                <div class="item">
    <div class="title"><h2>ASPIRING INNOVATION</h2></div>
    <div class="text">
       <p>We do not simply make websites. <br />We create digital experiences to make the web come alive.</p>
    </div>
    <div class="link">
        <div class="link_i">
            <a href="#!/about.html" class="btn-gold center">
                <span>about us</span>
            </a>
        </div>
    </div>
</div><div class="item">
    <div class="title"><h2>EXPERIENCE THE DESIGN</h2></div>
    <div class="text">
       <p>We pride ourselves in creating designs and concepts, <br /> which not only meet the eye but also touch the heart.</p>
    </div>
    <div class="link">
        <div class="link_i">
            <a href="#!/projects/" class="btn-gold center">
                <span>Projects</span>
            </a>
        </div>
    </div>
</div><div class="item">
    <div class="title"><h2>DIGITAL STORYTELLING</h2></div>
    <div class="text">
       <p>Everyone has a story to tell. And all good stories <br /> deserve embellishment. So let us tell yours.</p>
    </div>
    <div class="link">
        <div class="link_i">
            <a href="#!/contact.html" class="btn-gold center">
                <span>contact us</span>
            </a>
        </div>
    </div>
</div>
            </div>
        </div>
    </div>
</section>
</div>
</div>

<div class="imprint-close">
    <div class="imprint-close_i">
        <div class="imprint-close_ii">
            <div class="imprint-close__line-1"></div>
            <div class="imprint-close__line-2"></div>
            <div class="imprint-close__line-3"></div>
        </div>
    </div>
</div>

<div class="imprint">
    <div class="imprint-wrap">
        <div class="border-left"></div>
        <div class="border-right"></div>
        <div class="border-top"></div>
        <div class="border-bott"></div>
        <div class="imprint_i ">
            <div class="imprint_ii clearfix">
                <div class="col">
                   <p>Adwyse &amp; Co. GmbH &amp; Co. KG<br /> Konrad-Zuse-Platz 8<br /> D-81829 München</p>
<p>Tel. +49 89 95476600<br /> E-Mail: hello@adwyse.de</p>
<p>Registergericht: Amtsgericht München<br /> Registernummer: HRA 102666</p>
<p>Persönlich haftende Gesellschafterin<br /> der Adwyse &amp; Co. GmbH &amp; Co. KG:</p>
<p>MyCorp GmbH<br /> Geschäftsführer der MyCorp GmbH: Igor Suslov, Daniel Pasternak<br /> Registergericht: Amtsgericht München<br /> Registernummer: HRB 189960</p>
<p>Umsatzsteuer-Identifikationsnummer gemäß § 27a Umsatzsteuergesetz:<br /><br /> DE-276098088<br /><br /> Redaktionelle Verantwortung:<br /><br /> Igor Suslov, Landsberger Str. 291, 80687 München</p>
                </div>
                <div class="col">
                    <p>Haftungshinweis:</p>
<p>Für Verweise auf unseren Seiten möchten wir ausdrücklich betonen, dass wir keinerlei Einfluss auf den Linktext, die Gestaltung, evtl. Verletzungen geltender Rechte, auch Marken- und Titelrechte und die Inhalte der gelinkten Seiten haben. Wir distanzieren uns ausdrücklich von den Linkformulierungen, sowie von allen Inhalten aller Seiten auf die wir Verweise gesetzt haben und machen uns ihre Inhalte nicht zu eigen. Diese Erklärung gilt für alle auf unserer Website angebrachten Links und für alle Inhalte der Seiten, zu denen die bei uns angemeldeten Banner oder Links führen.</p>
<p>Wir bemühen uns, möglichst genaue und zuverlässige Informationen auf unseren Webseiten zu veröffentlichen. Wir können jedoch keinerlei Gewähr für die Richtigkeit aller veröffentlichten Informationen leisten. Jegliche Haftung für den Fall von Irrtümern oder Auslassungen auf unseren Webseiten wird ausgeschlossen.</p>
<p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website (einschließlich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert.</p>
<p>Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen.</p>
<p>Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten.</p>
<p>Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten von Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können.</p>
<p>Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--imprint end-->

<script src="js/jquery-1.9.1.min.js"></script>
<script src="js/verge.min.js"></script>
<script src="js/jquery.scrollTo.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/jquery.mCustomScrollbar.js"></script>
<script src="js/modernizr.custom.92668.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
    var addthis_config =
    {
        ui_click: true,
        data_track_clickback: false
    }
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-50fe643b7ebc8229" async></script>
<script src="js/start.js"></script>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-54503415-1', 'auto');
    ga('send', 'pageview');
</script>
</body>
</html>